name: tedt apksigner

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Setup Android environment
      uses: android-actions/setup-android@v3
      
    - name: lsd
      run: | 
        touch cat.txt
        ls
        apksigner
